.link {
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    background-color: #000000;
    height: 0.1em;
    width: 0.001px;
    position: absolute;
    bottom: -0.1em;
    left: 0;
    transition: all .25s;
  }

  &:hover:after {
    width: 100%;
  }
}