@mixin adaptiv-font($pcSize, $mobSize) {
  $maxWidth: 2560;
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: black;
  @include adaptiv-font(24, 7);
}

.app {
  display: grid;
  grid-template-columns: 5.5em auto;
  grid-template-rows: 5.3em auto;
  grid-template-areas:
          "header header"
          "footer main"
          "footer main";
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

div::-webkit-scrollbar{
  width: 0.12em;
  height: 1em;

  &-track {
    background-color: rgba(0, 0, 0, 0.18);
  }

  &-thumb {
    background-color: black;
    border-radius: 4em;

  }
}
dialog::-webkit-scrollbar, textarea::-webkit-scrollbar{
  width: 0.5em;
  height: 0.4em;

  &-track {
    border-radius: 10em;
    background-color: rgba(0, 0, 0, 0.18);
  }

  &-thumb {
    background-color: black;
    border-radius: 10em;

  }
}

a, button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

button {
  -webkit-user-select: none;
  user-select: none;
}

img {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.search {
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: center;
  gap: 1.5em;
  width: 56%;

}


@media screen and (max-width: 768px) {
  .content-container {
    padding: 2em 0.5em 2em;
  }
}