@value colors: @import "../../variables/variables";
.button {
  border: 0.1em solid #000000;
  cursor: pointer;
  transition: all ease-out 0.3s;
  padding: 0.7em;
  background-color: transparent;
  font-size: inherit;

  &:hover, &:focus{
    background-color: rgba(179, 248, 248, 0.75);
    box-shadow: 0.1em 0.1em 0.5em 0.08em rgb(196, 192, 192);
    outline: none;
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled{
    opacity: 0.5;
    cursor: default;
  }

  &:disabled:hover{
    background-color: #ffffff;
    color: black;
  }

  &:disabled:active{
    transform: scale(1);
  }
}

@media screen and (max-width: 768px){

}