.course {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(var(--repeat, auto-fit), minmax(300px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  gap: 1.5em;
  height: 100%;

  &__img {
    width: 100%;
  }

  &-about{
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    &__title{
      font-size: 1.5em;
    }

    &__text{
      font-size: 1.2em;
    }
  }
}