@mixin adaptiv-font($pcSize, $mobSize) {
  $maxWidth: 2560;
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


@keyframes height {
  0% {
    height: 60px;
  }
  100% {
    height: 100%;
  }
}

footer {
  display: flex;
  grid-area: footer;
  flex-direction: column;
  align-items: safe center;
  justify-content: space-between;
  position: relative;
  width: 5.3em;
  padding: 2.5em 0 1em;
  gap: 0.8em;
  overflow: auto;

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: safe center;
    justify-content: center;
    gap: 1em;

    ul {
      display: flex;
      gap: 0.8em;
      align-items: safe center;
      justify-content: center;
      list-style-type: none;
      min-height: 3em;
      word-break: break-word;
      padding: 0 0.5em;
    }

    &.mobile {
      position: fixed;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      transition: 0.5s all ease;
      padding: 5em 0;
      z-index: 100;

      a {
        color: #ffffff;
        font-size: 2em;

        &:after {
          background-color: #ffffff;
        }
      }

      &.open {
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);

      }
    }
  }

  .burger {
    cursor: pointer;
    display: flex;
    align-items: safe center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 2em;
    width: 1.5em;
    height: 1.1em;
    transition: 0.5s all ease;
    border-radius: 0.1em;

    span {
      position: absolute;
      font-size: inherit;
      display: block;
      height: 0.2em;
      width: 100%;
      background-color: #000;
      transition: 0.5s all ease;
      border-radius: 0.1em;

      &:last-child {
        bottom: 0;
      }

      &:first-child {
        top: 0;
      }
    }

    &.open {
      z-index: 101;

      &:focus {
        outline: 0.1em solid #ffffff;
      }

      span:first-child {
        transform: rotate(405deg);
        top: 40%;
        background-color: #ffffff;
      }

      span:nth-child(2) {
        background-color: transparent;
      }

      span:last-child {
        transform: rotate(-45deg);
        bottom: 40%;
        background-color: #ffffff;
      }
    }

    &:focus {
      outline: 0.1em solid #000000;
      outline-offset: 0.1em;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }
  }


  .contacts {
    width: 100%;
    position: relative;
    display: flex;
    align-items: safe center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5em;
    text-align: center;

    &-people {
      display: flex;
      gap: 0.5em;
      flex-direction: column;
      align-items: safe center;
      justify-content: center;

      &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: safe center;
        gap: 0.5em;
        width: 40%;
        flex-wrap: wrap;

        a {
          height: 1.4em;
          width: 1.6em;

          img {
            height: inherit;
            width: inherit;
            border: 0.1em solid #000000;
            border-radius: 0.3em;

            &:active {
              transform: scale(0.90);
            }
          }
        }
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0.07em;
    background-color: #000;
    animation: height forwards ease 1s;
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding: 2.2em 0 2em;
  }
}