@keyframes height {
  0% {
    height: 60px;
  }
  100% {
    height: 100%;
  }
}
footer {
  display: flex;
  grid-area: footer;
  flex-direction: column;
  align-items: safe center;
  justify-content: space-between;
  position: relative;
  width: 5.3em;
  padding: 2.5em 0 1em;
  gap: 0.8em;
  overflow: auto;
}
footer .navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: safe center;
  justify-content: center;
  gap: 1em;
}
footer .navbar ul {
  display: flex;
  gap: 0.8em;
  align-items: safe center;
  justify-content: center;
  list-style-type: none;
  min-height: 3em;
  word-break: break-word;
  padding: 0 0.5em;
}
footer .navbar.mobile {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s all ease;
  padding: 5em 0;
  z-index: 100;
}
footer .navbar.mobile a {
  color: #ffffff;
  font-size: 2em;
}
footer .navbar.mobile a:after {
  background-color: #ffffff;
}
footer .navbar.mobile.open {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
footer .burger {
  cursor: pointer;
  display: flex;
  align-items: safe center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 2em;
  width: 1.5em;
  height: 1.1em;
  transition: 0.5s all ease;
  border-radius: 0.1em;
}
footer .burger span {
  position: absolute;
  font-size: inherit;
  display: block;
  height: 0.2em;
  width: 100%;
  background-color: #000;
  transition: 0.5s all ease;
  border-radius: 0.1em;
}
footer .burger span:last-child {
  bottom: 0;
}
footer .burger span:first-child {
  top: 0;
}
footer .burger.open {
  z-index: 101;
}
footer .burger.open:focus {
  outline: 0.1em solid #ffffff;
}
footer .burger.open span:first-child {
  transform: rotate(405deg);
  top: 40%;
  background-color: #ffffff;
}
footer .burger.open span:nth-child(2) {
  background-color: transparent;
}
footer .burger.open span:last-child {
  transform: rotate(-45deg);
  bottom: 40%;
  background-color: #ffffff;
}
footer .burger:focus {
  outline: 0.1em solid #000000;
  outline-offset: 0.1em;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
footer .contacts {
  width: 100%;
  position: relative;
  display: flex;
  align-items: safe center;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5em;
  text-align: center;
}
footer .contacts-people {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: safe center;
  justify-content: center;
}
footer .contacts-people__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: safe center;
  gap: 0.5em;
  width: 40%;
  flex-wrap: wrap;
}
footer .contacts-people__container a {
  height: 1.4em;
  width: 1.6em;
}
footer .contacts-people__container a img {
  height: inherit;
  width: inherit;
  border: 0.1em solid #000000;
  border-radius: 0.3em;
}
footer .contacts-people__container a img:active {
  transform: scale(0.9);
}
footer:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0.07em;
  background-color: #000;
  animation: height forwards ease 1s;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 2.2em 0 2em;
  }
}

/*# sourceMappingURL=footer.css.map */
