@keyframes spinning {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
.spinner-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: safe center;
  grid-row: 2;

  .spinner{
    display: flex;
    align-items: safe center;
    justify-content: center;
    color: #000000;
    height: 5em;
    width: 5em;
    border: 0.1em solid #000000;
    border-radius: 50%;
    background-color: #ffffff;
    animation: spinning infinite 1s ease;
  }
}
