@keyframes width {
  0% {
    width: 60px;
  }
  100% {
    width: 100%;
  }
}

@keyframes logoPulse {
  0% {
    transform: scale(0.4) rotate(0);
  }
  20%{
    transform: scale(0.8) rotate(-180deg);
  }
  75%{
      transform: scale(0.6);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.header {
  display: flex;
  grid-area: header;
  width: 100%;
  gap: 1em;
  position: relative;
  align-items: safe center;
  justify-content: space-between;
  top: 0;
  padding: 0 1em 0 0.2em;

  &__logo {
    position: relative;
    width: 5em;
    height: 5em;
    transition: all 0.5s ease;

    img {
      position: relative;
      height: inherit;
      width: inherit;
      animation: logoPulse 1s forwards ease;

    }

    &:focus {
      border-radius: 50%;
    }
  }

  &-container {
    display: flex;
    gap: 2em;
    align-items: safe center;


    .user {
      height: 3.5em;
      width: 3.5em;
      position: relative;
      background-color: transparent;
      outline: 0.1em solid #ffffff;
      border: none;
      transition: 0.5s all ease;


      &:focus {
        outline: 0.1em solid #000000;
        transition: 0.5s all ease;
        outline-offset: 0.3em;
      }

      &.open {
        border-radius: 50%;
        outline-color: #ffffff;
        z-index: 101;
        transition: 0.5s all ease;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

    }

    .auth {
      align-items: safe center;
      display: flex;
      justify-content: flex-end;
      gap: 0.8em;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.07em;
      background-color: #000000;
      animation: width forwards ease 1s;
    }

    .user-menu-wrapper {
      flex-direction: column;
      justify-content: space-between;
      align-items: safe center;
      position: fixed;
      top: -100%;
      right: 0;
      width: 30%;
      height: 100%;
      background-color: transparent;
      transition: 0.5s all ease;
      padding: 6.3em 0 2.2em 0;
      z-index: 99;
      gap: 2em;
      display: flex;
      -webkit-box-shadow: -1.5em -0.2em 4em -0.2em rgba(256, 256, 256, 0.61);
      -moz-box-shadow: -1.5em -0.2em 4em -0.2em rgba(256, 256, 256, 0.61);
      box-shadow: -1.5em -0.2em 5em -0.2em rgba(256, 256, 256, 0.61);

      .user-menu-container {
        height: 100%;
        display: grid;
        justify-items: center;
        padding: 0 2em;
        overflow-y: auto;
        width: 90%;
        justify-content: center;
        grid-template-areas:
        "links"
        "exit";
        grid-template-rows: auto min-content;

        .user-menu {
          display: none;
          flex-direction: column;
          align-items: safe center;
          gap: 0.8em;
          justify-self: center;
          font-size: inherit;
          grid-area: links;

          a {
            color: #ffffff;
            font-size: 1.2em;
            word-break: break-word;

            &:after {
              background-color: #ffffff;
            }
          }
        }

        .button {
          display: none;
          width: 7em;
          border: 0.1em solid #ffffff;
          color: #ffffff;
          grid-area: exit;

          &:hover {
            background-color: rgba(179, 248, 248, 0.75);
          }
        }
      }

      &.open {
        z-index: 100;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        -webkit-box-shadow: -17px -4px 52px -5px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: -17px -4px 52px -5px rgba(0, 0, 0, 0.61);
        box-shadow: -17px -4px 52px -5px rgba(0, 0, 0, 0.61);

        .user-menu-container {
          &::-webkit-scrollbar-thumb{
            background-color: #ffffff;
          }
          .user-menu {
            display: flex;
          }

          .button {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &-container {

      .user-menu-wrapper {
        width: 100%;

        .user-menu-container {
          gap: 3em;
          font-size: 2em;
          align-items: center;


          .user-menu {
            gap: 1.5em;
          }

          .button {
            justify-self: end;
          }
        }
      }
    }
  }
}